 body{
  color: white;
background-color: #00AAC1;
  width: 100%;
 margin: 0;
  overflow-x: hidden;

}

p{
  margin-bottom: 0px;
  margin-left: : 0px;
  font-size: 1.2rem;
}

img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

h3{
  color:#121D25;
}

ul{
  text-align: center;
  z-index: 99;

  
}
div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}

.portada{
width: 100%;
height: 755px;
margin-top: 0px;
margin-bottom: 0px;
position: center;
z-index: 99px;


}
.playpause {
  padding: 15px;
  border-radius: 50%;
  background: #transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.playpause:hover {
  background: #464646;
}

.playpause .button {
  width: 25px;
  height: 25px;
  background: #f0f0f0;
  transition: inherit;
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}

.playpause.playing .button {
   clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}
.nombres{
font-family: 'Arizonia', cursive;
  margin-top:170px;
  margin-bottom: 80px;
  color:white;
  font-size: 80px;

}
.nuestraBoda{
 font-family: 'Cinzel Decorative', cursive;
  margin-top:65px;
  color:#621132;
  font-size: 40px;

}


.faltan{
 font-family: 'Cormorant Garamond', serif;
  margin-top:120px;
  color:#621132;
  font-size: 25px;

}
#cuenta {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 380px) and (min-width: 320px)  {

.nombres{
 font-family: 'Arizonia', cursive;
  margin-top:170px;
  margin-bottom: 100px;
  color:white;
  font-size: 60px;

}
.portada{
width: 100%;
height: 755px;
margin-top: 0px;
margin-bottom: 0px;
position: center;
z-index: 99px;


}
.nuestraBoda{
font-family: 'Cinzel Decorative', cursive;
  margin-top:65px;
  color:#621132;
  font-size: 32px;

}
#cuenta {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
}

@media (max-width:320px){

.nombres{
 font-family: 'Arizonia', cursive;
  margin-top:80px;
  margin-bottom: 40px;
  color:white;
  font-size: 45px;

}
.portada{
width: 100%;
height: 470px;
margin-top: 0px;
margin-bottom: 0px;
position: center;
z-index: 99px;

}
.nuestraBoda{
font-family: 'Cinzel Decorative', cursive;
  margin-top:65px;
  color:#621132;
  font-size: 23px;

}
#cuenta {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
}
.simply-section {
  background: #B1C9D3;
  width: 170px;
  height: 50px;
  margin: 50 50px;
  margin:10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.simply-word {
  color:white;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}
.fondoMeGradue{
width: 100%;
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
position: center;

}
.nosCasamos{
font-family: 'Dancing Script', cursive;
  margin-top:;
  color:white;
  font-size: 30px;

}
.textoNosCasamos{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  margin-top:0px;
  color:#534A3C;
  font-size: 23px;
  margin-bottom: 10px;

}
.estasinvitado{
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  color:white;
  font-size: 35px;


}
.textoSeccion3{
  font-family: 'Atma', cursive;
  font-weight: 400;
  margin-top:120px;
  color:black;
  font-size: 18px;
  margin-bottom: 35px;

}
@media (max-width:376px){

.textoSeccion3{
  font-family: 'Atma', cursive;
  font-weight: 400;
  margin-top:30px;
  color:black;
  font-size: 18px;
  margin-bottom: 20px;

}
}
.dia{
  color:#534A3C;
  font-family: 'Cormorant Garamond', serif;
  font-size: 130px;
  margin-bottom: -10px;
  z-index: 999;
}
.mes{
  border-top: 2px solid #B1C9D3;
  border-bottom: 2px solid #B1C9D3;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;

}
.año{
  border-top: 2px solid #B1C9D3;
  border-bottom: 2px solid #B1C9D3;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}
.dondeycuandotitulo{
  font-family: 'Cormorant Garamond', serif;
  font-size: 35px;
}
.hora{
  font-family: 'Noto Serif Khojki', serif;
  font-size: 35px;
}
.lugar{
  font-family: 'Noto Serif Khojki', serif;
  font-size: 20px;
}
.dondeycuando{
  background-color: white;
}
.dondeyCuando{
font-family: 'Abril Fatface', cursive;
  margin-top:10px;
  color:#534A3C;
  font-size: 45px;

}
.padres{
   box-shadow: 0 0 20px #184547;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-color: white;

  
  background-color: #184547;
  opacity: 1;
  text-align: center;
}
.porqueformas{
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
}
.tespero{
  font-family: 'Noto Serif Khojki', serif;
  font-size: 18px;
  line-height:2;
}
.nompadres{
  font-family: 'Arizonia', cursive;
  font-size: 45px;
    color:white;
}
.and{
  font-family: 'Arizonia', cursive;
 font-size:80px;
 margin-top: -18px;
 margin-bottom: -20px;
    color:black;
}
@media only screen and (max-width: 380px) and (min-width: 320px)  {

.dondeyCuando{
font-family: 'Abril Fatface', cursive;
  margin-top:10px;
  color:#534A3C;
  font-size: 45px;

}
.dia{
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  margin-bottom: -10px
}
}
@media (max-width:320px){

.dondeyCuando{
font-family: 'Abril Fatface', cursive;
  margin-top:10px;
  color:#534A3C;
  font-size: 30px;

}
.dia{
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  margin-bottom: -10px;
}
.porqueformas{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}
.tespero{
  font-family: 'Noto Serif Khojki', serif;
  font-size: 13px;
  line-height:2;
}
.nompadres{
  font-family: 'Arizonia', cursive;
  font-size: 32px;
    color:white;
}
.and{
  font-family: 'Arizonia', cursive;
 font-size:50px;
 margin-top: -18px;
 margin-bottom: -20px;
    color:black;
}

}

.familiaboleto{
font-family: 'Dancing Script', cursive;
  font-size: 45px;

}
.apellidos{
font-family: 'EB Garamond', serif;
  font-size: 38px;
  border-bottom: 3px solid white;
}


.invitacionpara{
font-family: 'Dancing Script', cursive;
  font-size: 35px;

}
.numMesa{
  font-size: 25px;
font-family: 'Open Sans', sans-serif;
}
.numeroPerMes{
  font-family: 'EB Garamond', serif;
  font-size: 40px;
}



.respetuosamente{
  font-size: 20px;
font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 380px) and (min-width: 320px)  {

.apellidos{
font-family: 'EB Garamond', serif;
  font-size: 35px;
  border-bottom: 3px solid white;
}
.invitacionpara{
font-family: 'Dancing Script', cursive;
  font-size: 34px;

}
.numMesa{
  font-size: 27px;
font-family: 'Open Sans', sans-serif;
}
.numeroPerMes{
  font-family: 'EB Garamond', serif;
  font-size: 40px;
}
.respetuosamente{
  font-size: 20px;
font-family: 'Open Sans', sans-serif;
}
}
@media (max-width:320px){

.apellidos{
font-family: 'EB Garamond', serif;
  font-size: 24px;
  border-bottom: 3px solid white;
}
.invitacionpara{
font-family: 'Dancing Script', cursive;
  font-size: 24px;

}
.numMesa{
  font-size: 20px;
font-family: 'Open Sans', sans-serif;
}
.numeroPerMes{
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}
.respetuosamente{
  font-size: 15px;
font-family: 'Open Sans', sans-serif;
}
}
.formulario{
  margin-left: -10px;
  font-size: 15px;
font-family: 'Open Sans', sans-serif;
}

.ceremoniaReligiosa{
   box-shadow: 0 0 20px white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-color: white;

  
  background-color: 184547;
  text-align: center;
}

.vestimenta{

  border-top: 3px solid black;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-color: white;

  color:white;
  background-color: transparent;
  text-align: center;
}

.boletos{

  box-shadow: 0 0 20px white;
  
  border-radius: 15px 15px 15px 15px;
  border-color: white;

  color:white;
  
  text-align: center;
}

.imagen{
    border-radius: 20px;
    margin-bottom: 5px;
    align-content: center;
}

.textodondeycuando{
  font-size: 15px;
font-family: 'Open Sans', sans-serif;
}
.carousel2 {
  background: white;
  border-radius: 10px; 
box-shadow: 10px 25px 25px rgba(0,0,0,0.5);

  }
  .carousel2 .carousel-item {
    height: 300px;
    border-radius: 5px;  

  }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px; 
      top: 0;
      left: 0;
      border-color: black;

       }
@media (min-width: 1000px) {
    .carousel2 .carousel-item {
    height: 500px; }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

       }
}

.padrinos{
  border-radius: 50%;
}

.textoSeccionPadrinos{
  font-family: 'Atma', cursive;
  font-weight: 400;
  margin-top:10px;
  color:gray;
  font-size: 20px;
  margin-bottom: 50px;

}

.mesaRegalos{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 400;
  margin-top:10px;
  color:gray;
  font-size: 12px;
  margin-bottom: 50px;

}
.tiendas{
  border-radius: 20px;
  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  border-color: gray;
  background-color: white;
}

.datosBancarios{
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 400;
  color:black;
  font-size: 18px;
  margin-bottom: 50px;

}

.Tituloasistencia{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color:#AA006F;

}

.textoasistencia{
  font-family: 'Maitree', serif;
  font-weight: 400;
  color:black;
  font-size: 17px;
  margin-bottom: 50px;

}
.Tituloasistenciaespero{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-bottom: 80px;
  color:#AA006F;

}
.titulo{
  
  color: #7E4C0D ;
  


}
.btnWhatsNovios{
  text-decoration:none;
  color:#534A3C;
  background-color: #F6D1C9;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  border-right: 1px solid ;
  border-left: 1px solid ;
  border-color: #fff;
  height: 45px;
  font-size: 15px;
  z-index: 9999;
  
  display:flex;
  justify-content: center;
  align-items: center;
}


.btnWhatsNovios:hover{
  text-decoration:none;
  background-color: transparent;
  color: #184547;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  border-right: 1px solid ;
  border-left: 1px solid ;
  border-color: #fff;
 
}
.btn{
  text-decoration:none;
  color:white;
  border-color: white;
  background-color: #CF9251;
}


.btn:hover{
  text-decoration:none;
  color: white;
  border-color: white;
  background-color:transparent; 
 
}
@media (min-width: 1200px) { /*laptop*/
.imagen1{
  width: 40%;
  display: block;
  margin: auto;
}
.imagen3{
  width: 40%;
  display: block;
  margin: auto;
}
.portada{
  background-color: black;
}

}
@media only screen and (max-width: 380px) and (min-width: 320px)  {
  .btn{
  text-decoration:none;
  color:white;
  border-color: white;
  font-size: 15px;
}
}
@media (max-width:320px){

.btn{
  text-decoration:none;
  color:white;
  border-color: white;
  font-size: 12px;
}
}

.btnWhats{
  text-decoration:none;
  color:#25D366;
  background-color: white;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: #25D366;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
}


.btnWhats:hover{
  text-decoration:none;
  background-color: #25D366;
  color: white;
  border-top: 3px solid ;
  border-bottom: 3px solid ;
  border-right: 3px solid ;
  border-left: 3px solid ;
  border-color: white;
 
}

.btnForm{
  border-top: 0px solid ;
  border-bottom: 0px solid ;
  border-right: 0px solid ;
  border-left: 0px solid ;
  border-color: #D6C5B2;
  text-decoration: none;
  color:#fff;
  background-color: gray; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
   height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btnForm:hover{

  border-top: 0px solid ;
  border-bottom: 0px solid ;
  border-right: 0px solid ;
  border-left: 0px solid ;
  border-color: gray;
  text-decoration: none;
  background-color: #fff; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
  color:gray;
  height: 45px;
}
.btnComoLlegar{
  text-decoration: none;
  color:#6F7163;
  background-color: #D6C5B2; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
   height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-10px;
}

.btnComoLlegar:hover{
  text-decoration: none;
  background-color: #D6D0B4; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
  color:#6F7163;
  height: 45px;
}
@media (min-width: 1200px) { /*laptop*/
  .btnComoLlegar{
  text-decoration: none;
  color:#6F7163;
  background-color: #D6C5B2; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
   height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
;
  
}
}
.menu{
  color: #121D25;
  font-family: 'Questrial', sans-serif;
  margin-top: 0px;
}
.table {
  background: black;
  position: sticky;
  color:black;
  margin-bottom: 9px;
  top:0; 
}

.badge{
  background-color: black;
}
.cuerpo{
width: 100%;
  background: transparent; 
  color:#121D25;
z-index: -1;
margin-top: 0px;
  font-family: 'Questrial', sans-serif;
  font-size: 17px;


}

.desactivado{
    margin-top: 320px;
  font-size: 35px;



}
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 13px;



}
@media (max-width:320px){
  
.cuerpo2{

  font-family: 'Questrial', sans-serif;
  font-size: 10px;

}
.badge{
  font-size: 9px;
 
}
}

.precio{

  margin-left: -20px;
}

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #FFE8F7;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

  .loader_bg img{
    display:inline-block;
    vertical-align:middle;
    margin-top: -40px;
    margin-left: 8px;
    animation-name:pulse_animation;animation-duration:2500ms;
    transform-origin:50% 50%;animation-timing-function:ease-in-out}
    @media (min-width: 375px){
.loader_bg img{max-width:180px !important;max-height:180px !important}}
@keyframes pulse_animation{0%{transform:scale(1)}100%{transform:scale(1.7)}}
   
 
.progress{position:relative;height:4px;display:block;width:100%;background-color:#F4F4F4;border-radius:2px;background-clip:padding-box;margin:0 auto;overflow:hidden}
.progress .loading-bar{background-color:#797d80}
.progress .indeterminate:before{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite}
.progress .indeterminate:after{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left, right;-webkit-animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;-webkit-animation-delay:1.15s;animation-delay:1.15s}@-webkit-keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}
@keyframes indeterminate{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}@-webkit-keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}@keyframes indeterminate-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}


#scroll {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:gray;
    border-color: white;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
    z-index:9999px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#505050;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.collage{
  margin-top: -40px;
  margin-bottom: -40px;
  border-color: black;
  color:black;
  background-color: white;
  text-align: center;
  z-index: 99;
}

.pie{
  background: #621132;
  border-top: solid 1px white;
  margin-bottom: 0px;
  font-size: 2rem;
  color:white;
  height: 100px;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Quicksand', sans-serif;
}

.piepag {
  font-size: 2rem;
  text-align: center;
  z-index: -1;
  color:#121D25;
  font-family: 'Oleo Script Swash Caps', sans-serif;

}
.center{display:table;width:100%;background-color: black;
margin-top:-25px;
margin-bottom:;}
#social-test{display:table-cell;vertical-align:middle;text-align:center;font-size:30px}
#social-test h2{color:#fff;font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-weight:100}
#social-test .social{padding-left:0}
#social-test a{color:#909090;list-style-type:none;display:inline-block;width:50px;height:50px;line-height:50px;padding:1%;border:1px solid rgba(167,146,129,.4);cursor:pointer;margin-left:10px;margin-bottom:20px;transition:ease .3s}
#social-test a:hover{color:#fff;border:1px solid #ccc}
.social:hover>a{opacity:.5}
.social:hover>a:hover{opacity:1}

.form-register {
  width: 100%;
  background: black;
  padding: 30px;
  margin: auto;
  margin-top:;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-color: white;
}

.controls {
  width: 100%;
  background: #184547;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  align-self: center;
  background: gray;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* The container must be positioned relative: */
.custom-select2 {
  height: 40px;
  background-color: #184547;
  color: white;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.custom-select2 select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: white;
  margin-left: 10px;
  padding: ;
  border: 1px solid white;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #184547;
  top: 100%;
  height: 70px;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
  #particles-js{
            background: transparent;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
        }

.cuentaRegresiva2{
  border-top: 0px solid #E5CA5E;
  border-bottom: 0px solid #E5CA5E;
  border-right: 0px solid #E5CA5E;
  border-left: 0px solid #E5CA5E;
  

  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  background-color:#000;
  text-align: center;
 margin-top: -20px;
}
.itinerario{
  border-top: 0px solid #E5CA5E;
  border-bottom: 0px solid #E5CA5E;
  border-right: 0px solid #E5CA5E;
  border-left: 0px solid #E5CA5E;
  
  background-color:white;
  text-align: center;
}

.flecha {
  position: relative;
  -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
.flecha span{
  background-color: #2F2B2B;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px;
}
/* Standard syntax */
@keyframes rebote {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:-7px;}
  75%  {left:0px; top:-5px;}
  100% {left:0px; top:0px;}
}
.btnComoLlegar{
  text-decoration: none;
  color:#6F7163;
  background-color: #D6C5B2; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
   height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-10px;
}

.btnComoLlegar:hover{
  text-decoration: none;
  background-color: #D6D0B4; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
  color:#6F7163;
  height: 45px;
}
@media (min-width: 1200px) { /*laptop*/
  .btnComoLlegar{
  text-decoration: none;
  color:#6F7163;
  background-color: #D6C5B2; 
  font-family: 'Arapey', serif; 
  font-size: 15px;
   height: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}
}

.cuentaRegresiva{
  border-top: 0px solid #E5CA5E;
  border-bottom: 0px solid #E5CA5E;
  border-right: 0px solid #E5CA5E;
  border-left: 0px solid #E5CA5E;
  

  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  background-color:#CF9251;
  text-align: center;
 margin-top: -80px;
}
@media (min-width: 1200px) { /*laptop*/
  .cuentaRegresiva{
    margin-top: -80px;
  border-top: 0px solid #E5CA5E;
  border-bottom: 0px solid #E5CA5E;
  border-right: 0px solid #E5CA5E;
  border-left: 0px solid #E5CA5E;
  

  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  background-color:#CF9251;
  text-align: center;

}
  }
@media (max-width:320px){
  .cuentaRegresiva{
    margin-top: -80px;
  border-top: 0px solid #E5CA5E;
  border-bottom: 0px solid #E5CA5E;
  border-right: 0px solid #E5CA5E;
  border-left: 0px solid #E5CA5E;
  

  box-shadow: 10px 25px 25px rgba(0,0,0,0.5);
  background-color:#CF9251;
  text-align: center;

}}
.nota{
 font-family: 'Arapey', serif;
 letter-spacing: 4px;
  margin-top:0px;
  color:white;
  font-size: 16px;




}
.diaBautizo{
  font-size: 18px;
 font-family: 'Arapey', serif;
 letter-spacing: 4px;
  margin-top:0px;
  color:#8F9677;
  font-size: 22px;



}